.button {
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
}

.primary {
  background-color: #0070f3;
}

.secondary {
  background-color: #c1c1c1;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 12px;
}

.large {
  font-size: 14px;
}